@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Bank

@inject HttpClient Http
@inject IAccessTokenProvider AccessTokenProvider

@if (_account == null)
{
    <h2>Log in to see your bank account</h2>
    <a href="authentication/login">Log in</a>
}
else
{
    <h1>Your bank account</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Timestamp</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var statement in _account.Statements)
        {
            <tr>
                <td>@statement.Timestamp</td>
                <td>@statement.Amount</td>
            </tr>
        }
        </tbody>
    </table>
    <h2>Sum</h2>
    @_account.Sum
}

@code {
    private Account _account;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var accessTokenResult = await AccessTokenProvider.RequestAccessToken();

            if (accessTokenResult != null && accessTokenResult.TryGetToken(out var accessToken))
            {
                Http.DefaultRequestHeaders.Add("Authorization", "Bearer " + accessToken.Value);
                var statements = await Http.GetFromJsonAsync<List<Statement>>("http://localhost:5000/AccountOwner") ?? new List<Statement>();
                _account = new(() => DateTimeOffset.Now, statements);
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}